.separador{
    @include d-flex(row, space-evenly, center);
    overflow: hidden;
    border-top:5px $separador-borde-color solid;
    border-bottom:5px $separador-borde-color solid;
    gap: 10px;

    &__imagen{
        width: 2em;
        height: auto;
    }
    
    @include breakpoint-large{
        &__imagen{
            width: 2.5em;
    }
    }
}
