.encabezado{
    &__logo{
        width: auto;
        height: 15vh;
        margin-top: 1em;
        margin-left: 1em;
    }

    &__titulo{
        @include texts($titulo-layout-font, 1.5rem, $titulo-layout-color, bold);
        margin-top: 0.4em;
    }

    &__navBar{
        margin-top: 1em;
        margin-bottom: 1em;
        @include d-flex(row, space-between, center);
        overflow-x: scroll;
        border: $nav-borde-color 5px solid;
        padding: 0.5em;
        border-radius: 1em;
        background-color: $nav-borde-fondo;

        &--button{
            @include texts($nav-button-font, smaller, $nav-button-color, bold);
            text-transform: uppercase;
            margin-right: 10px;
            }

        &--buttonFin{
            @extend .encabezado__navBar--button;
            margin-right: 0;
        }
    }

    @include breakpoint-small{
        &__titulo{
            width: 100%;
            font-size: 2em;
            margin-top: 0.25em;
        }

        &__navBar{
            &--button{
                font-size: small;
            }
        }
    }
    
    @include breakpoint-large{
        &__logo{
            height: 15vh;
            align-self: center;
        }

        &__titulo{
            margin-top: 1.5em;
        }
        
        &__navBar{
            width: 60vw;
            justify-content: space-evenly;
            margin-right: 1em;
            overflow-x: hidden;
            &--button{
                font-size: 1rem;
                transition: 0.5s all ease-in-out;
                &:hover{
                    font-size: 2rem;
                    background-color:$nav-animation-color;
                    border-radius: 10px;
                }
            }
        }
    }

    @include breakpoint-xlarge{
        &__navBar{
            &--button{
                font-size: 1.5rem;
            }
        }
    }
    
}
