.info{
    margin-bottom: 4vw;

    &__texto{
        @include texts($info-texto-font, 1rem, $info-texto-color, normal, center);
        padding: 1em;
        margin-bottom: 1em;
    }

    &__imagen{
        margin-bottom: 1em;
        padding: 1em;
        object-fit: contain;
        width: 70vw;
        height: auto;
    }

    @include breakpoint-small{
        &__texto{
            margin-bottom: 1em;
            font-size: larger;
        }
    
        &__imagen{
            width: 40vw;
            margin-right: 2em;
        }
    }

    @include breakpoint-large{
        &__texto{
            font-size: xx-large;
        }
    }
}