.info{
    margin-bottom: 4vw;

    &__texto{
        @include texts($info-texto-font, 1rem, $info-texto-color, normal, center);
        padding: 1em;
        margin-bottom: 1em;
    }

    &__imagen{
        margin-bottom: 1em;
        padding: 1em;
        object-fit: contain;

        &--dueños{
            width: 70vw;
            height: auto;
        }

        &--local{
            @extend .info__imagen--dueños;
            width: 50vw;
        }
    }

    @include breakpoint-small{
        &__texto{
            margin-bottom: 1em;
            font-size: larger;
        }
    
        &__imagen{
            &--dueños{
                width: 50vw;
                margin-left: 2em;
            }
            
            &--local{
                width: 40vw;
            }
        }
    }

    @include breakpoint-large{
        &__texto{
            font-size: xx-large;
        }
    }
}