.nov{
    @include d-flex(column, space-between, center);
    gap: 1em;
    padding-bottom: 2em;
    
    &__img{
        width: auto;
        height: 75vh;
        object-fit: contain;
    }

    @include breakpoint-small{
        @include d-flex(row, space-around, center);
        overflow-x: scroll;
        margin-bottom: 0;
        
        &__img{
            height: 85vh;
        }
    }

    @include breakpoint-large{
        margin-top: 2em;
        overflow-x: hidden;
    }

    @include breakpoint-xxlarge{
        &__img{
            width: 100vh;
        }
    }
}
