.pieDePagina__section{
    margin-bottom: 1em;
    padding-left: 0;
    margin-left: 1em;

    &__titulo{
        @include texts($footer-titulo-font, x-large, $footer-titulo-color, bolder);
        margin-left: 0.5em;
    }

    &__item{
        padding-left: 10px;
        @include texts($footer-item-font, larger, $footer-item-color);
        font-style: normal;

        &--especifico{
            @extend .pieDePagina__section__item;
            text-decoration: underline;
        }

        &--wayUP{
            @extend .pieDePagina__section__item;
            text-align: right;
            font-size: 3rem;
        }
    }

    &__mapa{
        @include footerParts(14rem, 14rem, 1em);
    }

    &__email{
        @include footerParts(15rem, 1.5rem, 1em);
    }

    &__boton{
        @include footerParts(15rem, 1.5rem, 1em);
        font-weight: bold;
    }
    
    @include breakpoint-large{
        margin-bottom: 0;

        &__mapa{
            margin-bottom: 1em;
        }
        
        &__item{
            &--wayUP{
                margin-top: 0.5em;
            }

            &--especifico{
                transition: 0.5s all ease-in-out;
                &:hover{
                    background-color: rgba(214, 208, 208, 0.534);
                    border-radius: 15px;
                }
            }
        }
        
        &__titulo{
            margin-left: 0;
        }
    }

    @include breakpoint-xlarge{
        &__titulo{
            font-size: 2.2rem;
        }

        &__item{
            font-size: 2rem;
        }
    }

    @include breakpoint-xxlarge{
        &__email{
            height: 3rem;
        }
    
        &__boton{
            height: 3rem;
        }
    }
}