.slide{
    width: auto;
    height: 65vh;
    @include d-flex(row, space-between, center);
    background-image: url(../images/utilidad-tres.jpeg);
    background-size: cover;   
    background-repeat: no-repeat; 
    overflow-x: scroll;
    gap: 3em;

    &__imagen{
        width: auto;
        height: 60vh;
    }

    @include breakpoint-large{
        padding: 1em;
        height: 100%;
        justify-content: space-around;
        overflow-x: hidden;
        
        &__imagen{
            height: 100vh;
        }
    }
}

